# .coveragerc to control coverage.py
[run]
include=cfg4py
omit =
    */schema.py
    */config.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main():
