# .coveragerc to control coverage.py
[run]
omit =
    */cfg4py_auto_gen.py
    */config.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main():
